<button>Test button</button>

<button onclick="modal.showModal()" (click)="openModal()">Open Modal</button>
<app-modal-test [testingData]="modalData"></app-modal-test>

<button onclick="modal2.showModal()">Modal Click outside</button>
<dialog id="modal2" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click outside to close</p>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
